# Review ASE results
[rpy2 assistant](https://stackoverflow.com/questions/24152160/converting-an-rpy2-listvector-to-a-python-dictionary)

In [1]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()
import os
import pandas as pd, numpy as np
from collections import OrderedDict
from rpy2.robjects.vectors import DataFrame, FloatVector, IntVector, StrVector, ListVector
path = os.path.expanduser("~/Documents/m6A/Data/ASE/samples")
readRDS = robjects.r['readRDS']
p_cutoff = 0.05

In [2]:
def RDS2df(RBP):
    df = readRDS(f'{path}/{RBP}.wasp_remapped.qual10.dedup.quasar.ase.rds')
#     df = readRDS(f'{path}/{RBP}_res_180330/{RBP}.wasp_remapped.qual10.dedup.quasar.ase.rds')
    df = pandas2ri.ri2py(df)
    tmp = df[0][0]
    RBP_df = pandas2ri.ri2py(tmp)
    RBP_df = RBP_df.rename(columns = {"annotations.rsID": "rsID", "annotations.chr": "chr", 
                                      "annotations.pos0": "pos", "betas": "beta", "betas.se": "se", 
                                      "pval2.het.ind.": "pval"})
    return RBP_df

In [3]:
FTO = RDS2df("FTO")
HNRNPC = RDS2df("HNRNPC")
IGF2BP2 = RDS2df("IGF2BP2")

In [4]:
FTO[FTO["pval"] < p_cutoff]

         rsID   chr       pos      beta       se      pval
43  rs2230653  chr6  26056603 -1.420418  0.66112  0.031674

In [5]:
HNRNPC[HNRNPC["pval"] < p_cutoff]

           rsID    chr        pos      beta        se      pval
23    rs2840759   chr1   28834153 -1.031958  0.519901  0.047154
195   rs6498107  chr16    8909289 -1.417305  0.715121  0.047489
198   rs7199167  chr16    8919414 -1.597556  0.653389  0.014484
210    rs432477  chr16   23600572 -1.560469  0.782937  0.046251
211    rs703773  chr16   23653268 -1.532484  0.608424  0.011776
219  rs62030049  chr16   50572708 -1.436739  0.575462  0.012536
220  rs35419407  chr16   50575018 -1.668422  0.648371  0.010075
271  rs28644774  chr16   89472180  1.560469  0.782937  0.046251
290  rs11078307  chr17   15411837  1.560469  0.782937  0.046251
325   rs2727320  chr17   61865324  1.560469  0.782937  0.046251
331   rs1177972  chr17   70563472 -1.585496  0.698833  0.023282
347   rs4239021  chr17   80531825 -1.560469  0.782937  0.046251
406  rs11692629   chr2   42498113 -1.634283  0.694294  0.018579
410   rs1439225   chr2   42512930 -1.242851  0.623718  0.046300
446   rs6720885   chr2   99971288 -1.560469  0.782937  0.046251
449   rs6542994   chr2  101451520 -1.417305  0.715121  0.047489
499     rs11651   chr2  216229691  1.597556  0.653389  0.014484
511   rs1250259   chr2  216300481 -1.432458  0.665643  0.031398
528  rs13034294   chr2  236675429  1.477490  0.709174  0.037215
541   rs6055809  chr20    8407790  1.533378  0.703771  0.029346
608   rs9838739   chr3   46137188 -1.476186  0.566418  0.009156
616  rs73093101   chr3   61554356 -1.560469  0.782937  0.046251
693   rs6896817   chr5  179267394  1.560469  0.782937  0.046251
708   rs9368904   chr6   36069349  1.417305  0.715121  0.047489
793  rs34931322   chr8  131534469 -1.326326  0.548616  0.015624

In [6]:
IGF2BP2[IGF2BP2["pval"] < p_cutoff]

           rsID    chr        pos      beta        se      pval
167  rs59267791  chr19    2248151  1.385637  0.674851  0.040048
214  rs11677797   chr2   97559758  1.601917  0.721375  0.026375
234      rs7445  chr22   21977046 -1.483447  0.672319  0.027352
235   rs1063311  chr22   22116466  1.704536  0.673744  0.011408
260   rs2010963   chr6   43738349  1.611538  0.774645  0.037493
282   rs1861000   chr7  120725353 -1.529486  0.725559  0.035030
314   rs2296710   chr9  134021629  1.435647  0.654628  0.028302

In [13]:
FTO_1 = pd.read_csv(f"{path}/FTO.wasp_remapped.qual10.dedup.quasar.genotype.tsv", sep = "\t", header = None)

In [14]:
FTO_1[FTO_1[3] == "rs2230653"]

         0         1         2          3              4    5             6
1135  chr6  26056603  26056604  rs2230653  1.212364e-105  1.0  1.157798e-07

In [16]:
FTO_1.head(10)

      0         1         2            3             4         5             6
0  chr1    990532    990533    rs4308920  9.955845e-01  0.004415  5.617994e-17
1  chr1    990805    990806    rs2799073  1.623563e-04  0.999838  2.644136e-10
2  chr1    990942    990943   rs28632009  9.987619e-01  0.001238  6.685915e-20
3  chr1    990983    990984       rs8014  1.714672e-08  1.000000  1.283906e-13
4  chr1   1152630   1152631      rs11721  9.940118e-01  0.005988  1.032281e-16
5  chr1   1181371   1181372   rs72631899  9.991179e-01  0.000882  3.448436e-20
6  chr1   1284489   1284490  rs150789461  5.742869e-26  0.000630  9.993703e-01
7  chr1   2221837   2221838     rs878093  9.959822e-01  0.004018  4.655120e-17
8  chr1  10093456  10093457    rs7528979  9.871749e-01  0.012825  7.132526e-18
9  chr1  11968229  11968230    rs6687063  4.429674e-15  0.997834  2.166235e-03